
$color-gold: #FFB800;
$color-red: #f10236;

.container{
    position: fixed;
    z-index: 50;
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:$color-gold;
    font-family: 'Cinzel', serif;

    &__menu ul{
        display: none;     
    }
    &__menu ul li{
        list-style-type: none;
        font-size: 1rem;
    }
  
    &__menu ul li:not(:nth-of-type(5)){
        padding-right: 25px;
        
    }
    &__menu ul li a{
        color:$color-gold;
        text-decoration: none;
        font-weight: bold; 
    }
    &__menu ul li  a:hover{
        padding-bottom: 5px;
        color:gold;
        border-bottom: solid $color-gold 1px;
    }
    &__button{
      display: none;

        &--subscribe{
            padding:8px 12px;
            font-family: inherit;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            background-color: $color-red;
            color: #ffffff;
            cursor: pointer;
            margin-right: 20px;
            letter-spacing: 2px;
      
        }
        &--signIn{
            font-weight: bold;
            background: none;
            font-family: inherit;
            font-size: .8rem;
            border: none;
            color: $color-gold;
            cursor: pointer;

        }
    }
    &__menu-item {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        top: -15px;
        border: none;
        margin-right: 25px;
    }
    @media screen and (min-width:900px){
        &__menu ul{
            display: flex;     
        }
        &__button{
            display: block;
        }
    }
  

}
@media screen and(max-width:900px){
  
.container{
    z-index: 10;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: rgba(37, 36, 36, 0.637);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color:$color-gold;
    font-family: 'Cinzel', serif;
 

    &__logo{
        display: flex;
        position: fixed;
        left: 25px;
        top: 20px;
    }
    &__menu-item {
        z-index: 100;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30px;
        right: 30px;
        border: none;
        margin-right: 25px;
    }
    &__menu-item  span:nth-of-type(1)::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        background-color: gold;
      
    }
    &__menu-item  span:nth-of-type(2)::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        background-color: gold;
        margin-top: 10px;
    }
    &__menu-item  span:nth-of-type(3)::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        background-color: gold;
        margin-top: 20px;
    }
    &__menu{
       
    }
    &__menu ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;  
          
    }
    &__menu ul li{
        list-style-type: none;
        font-size: 1rem;
        padding-bottom: 20px;
        
    }
  
    &__menu ul li:not(:nth-of-type(5)){
        padding-right: 25px;
        
    }
    &__menu ul li a{
        color:$color-gold;
        text-decoration: none;
        font-weight: bold; 
    }
    &__menu ul li  a:hover{
        padding-bottom: 5px;
        color:gold;
        border-bottom: solid $color-gold 1px;
    }
    &__button{
      display: flex;
      flex-direction: column;
      
      align-items:center;

        &--subscribe{
            padding:8px 12px;
            font-family: inherit;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            background-color: $color-red;
            color: #ffffff;
            cursor: pointer;
            letter-spacing: 2px;
            margin-bottom: 20px;
      
        }
        &--signIn{
            font-weight: bold;
            background: none;
            font-family: inherit;
            font-size: .8rem;
            border: none;
            color: $color-gold;
            cursor: pointer;

        }
    }
}
}
@media screen and(max-width: 900px){
    
   


    }