$height:50px;
$width:70px;
$color-gold: #ffb700;
$color-red: #f10236;

@mixin media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height;
    width:$width ;
    background-color: $color-gold;
    margin-bottom: 15px;
    border-radius: 5px;
}

.sm{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .cursor{
        cursor: pointer;
    }

    &__facebook{
        @include media;

        &-logo{
            background: url('../images/facebook.svg');
            background-position: center;
            background-size: cover;
            width:40px;
            height: 40px;
            padding: 10px;
            transition: .2s ease-in;
        }
        &-logo:hover{
            background: url('../images/facebook.png');
            background-position: center;
            background-size: cover;
            transform: translateY(-10px);
        }


    }
    &__instagram{
        @include media;
        &-logo{
            background: url('../images/instagram.svg');
            background-position: center;
            background-size: cover;
            width:40px;
            height: 40px;
            padding: 10px;
            transition: .2s ease-in;
        }
        &-logo:hover{
            background: url('../images/iinstagram.svg');
            transform: translateY(-10px);
        }

    }
    &__linkedin{
        @include media;
        &-logo{
            background: url('../images/linkedin.svg');
            background-position: center;
            background-size: cover;
            width:40px;
            height: 40px;
            padding: 10px;
            transition: .2s ease-in;
        }
        &-logo:hover{
            background: url('../images/llinkedin.svg');
            transform: translateY(-10px);
        }


    }
    &__linkedin:hover,&__instagram:hover,&__facebook:hover{
        background:none ;
        transition: .2s ease-in
    }
  

  
}